.container {
  position: relative;
  max-width: 5rem;
  align-items: center;

}

.itemsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: auto;
  background-color: var(--box-bg);
}

.item {
  color: var(--accent);
  padding: 5px;
  border: 1px solid #111;
  min-width: 3rem;
  text-align: center;
  cursor: pointer;
}

.item:hover {
  background-color: hsla(0, 0%, 100%, 10%);
  border: 1px solid #EEEEEE;
}

.selected {
  background-color: var(--accent-bg);
  color: var(--accent);
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--accent-border);
  min-width: 3rem;
  text-align: center;
  cursor: pointer;
}

