.container {
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr;
	gap: 8px;
}

.editor {
	grid-column: 1 / -1;
	grid-row: 1;
}

.langSelect {
	grid-column: 1;
	grid-row: 2;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.submit {
	grid-column: 2;
	grid-row: 2;

	display: flex;
	align-items: center;
	justify-content: end;
	padding: 5px;
}

.result {
	grid-column: 1 / 3;
	width: 100%;
	grid-row: 3;
	overflow-x: hidden;
	overflow-y: scroll;
	max-width: 300px;
}
